<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <nav class="my-2 my-md-0 me-md-3">
    <a class="p-2" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}"> <i class="fa fa-paw"></i>  Home</a>
  </nav>
  

  <div class="d-flex align-items-center">
      <ng-container *ngIf="(currentUser$ | async) === null">
        <a class="btn btn-outline-secondary mr-2"  routerLink="login"> Login </a>
        <a class="btn btn-outline-secondary mr-3"   routerLink="register"> Register </a>

      </ng-container>
      <ng-container *ngIf="currentUser$ | async">
        <a class="btn btn-outline-secondary mr-3"   routerLink="add-ride">Add ride  </a>
        <a class="btn btn-outline-secondary mr-3"   routerLink="rides"> View rides </a>


        <div class="dropdown my-2 my-sm-0" dropdown>
            <a class="dropdown-toggle" style="cursor: pointer; color:rgb(221, 205, 185)" dropdownToggle>
                <b style="font-weight: 900;">Welcome <i>{{(currentUser$ | async).firstName}}   </i></b>
            </a>
            <div class="dropdown-menu dropdown-menu-right" style="cursor: pointer;" *bsDropdownMenu>
                <a routerLink="user-profile" class="dropdown-item d-flex align-items-center py-2">
                    View Profile
                </a>
                <div class="dropdown-divider"></div>
                <a (click)="onLogout()" class="dropdown-item d-flex align-items-center py-2">
                    Logout
                </a>
            </div>
        </div>
    </ng-container> 
  </div>

  




