<div class="jumbotron" style="height: 860px; margin-bottom: 0;">
  <div class="container">
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" [hidden]="userService.checkLogin()">

      <h2 style="text-align: center;">Login User</h2>
  
      <div class="col-md-6 offset-md-3">
      <div class="row">
        <label for="email" class="label-login">Email:</label>
        <input class="form-control" id="email" type="text" formControlName="email"  name="email" required><br>
      </div>
  
      <div class="row">
        <label for="password" class="label-login">Password:</label>
        <input id="password" class="form-control" type="password" formControlName="password"  name="password" required>
      </div>
  
  
  
      <br>
      
      <button type="submit" class="btn btn-primary">Submit</button>
    </div>
    </form>
  
    <div [hidden]="!userService.checkLogin()">
      <h3>Logged In Successfully! </h3>
      <h2>Welcome back!</h2>
    </div>
  
  </div>
  </div>